{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test Assignment</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">


    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Test tasks</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{% url 'user_info' %}">info</a>

            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'account_update' %}">update info</a>
            <a class="nav-link" href="{% url 'edit_tag_example' %}">edit tag</a>
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">login</a>
            {% endif %}
            <a class="nav-link" href="{% url 'middleware_list' %}">middleware</a>
            <a class="nav-link" href="{% url 'settings_context_view' %}">settings</a>
            <a class="nav-link" href="{% url 'send' %}">async queue</a>
            <a class="nav-link" href="{% url 'random-text' %}">cron</a>
            <a class="nav-link" href="{% url 'db-logger' %}">db logger</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
      {% block content %}
      {% endblock %}
          <!--<img src="https://n6-img-fp.akamaized.net/free-vector/grey-square-pattern-background-vector-illustration_1164-1350.jpg" class="img-responsive" alt="Cinque Terre">-->

      </main>

      <footer class="mastfoot mt-auto">
      </footer>
    </div>



  </body>
</html>
